# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.4
language: objective-c
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/CPSwiftExtencions.xcworkspace -scheme CPSwiftExtencions-Example -destination 'platform=iOS Simulator,name=iPhone 6,OS=11.4' | xcpretty
- pod lib lint


